<html>
	<head></head>
	<body onload="onLoad()">
	
	<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body onload = "onLoad()">
	<nav>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">MooLite!</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						</li>
						<li class="nav-item"><a
							onclick="document.querySelector('#form-login').submit()"
							class="nav-link" sec:authorize="isAuthenticated()" text-align:
							center href="#">logout</a>
							<form id="form-login" th:action="@{/logout}" method="post"></form>
						</li>
						<form class="d-flex">
							<a href="/pedido/formulario" button
								class="btn btn-outline-success">Novo Pedido</a>
						</form>
				</div>
			</div>
		</nav>
	</nav>
		<div></div>
	
		<div class="container" id="pedido">
			<div></div>
						
			<div class="card mb-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">
							<div class="row">
							</div>
							<div>Produto</div>
							<div> <a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue(
				{
					el : '#pedido',
					data : {
						pedidos : []
					},
					mounted () {
						axios
					      .get('http://localhost:8080/api/home/lista')
					      .then(response => (this.pedidos = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>